{{#substructure}}
								<div class="substructure {{kind}}">
									<div class="expando"><b class="varkind">{{kind}}</b> <span class="varname">{{name}}</span></div>
									<div class="comment expando">{{doc.comment}}</div>
									<div class="contents">{{>api_html_sub}}</div>
								</div>
{{/substructure}}
