<!doctype html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
				        
<title>Documentation | Perfect.org</title>
<meta name="description" content="Read our library of technical documentation to get a better understanding of all the features Perfect provides for both the client-side and server-side modules.">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">

<meta property="og:title" content="Documentation | Perfect.org">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.perfect.org/">
<meta property="og:image" content="https://www.perfect.org/images/perfect-logo-2-0.png">

<script src="https://use.typekit.net/xxl3gvp.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<link rel="stylesheet" href="css/perfect.css">
<link rel="stylesheet" href="css/theme-swift.css">
<link rel="stylesheet" type="text/css" href="api.css">

<script src="js/js/modernizr-2.6.2.min.js"></script>
<script src="js/js/prefixfree.min.js"></script>
<script type="text/javascript" src="js/syntaxhighlighter.js"></script>

<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-70235620-1', 'auto');
	ga('send', 'pageview');
</script>

<!-- This script prevents links from opening in Mobile Safari. https://gist.github.com/1042026 -->
<script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>

<style>
/*
	theme specific
*/

	pre
	{
		background-color: #fafafa;
		box-shadow: 0 0 0 2px #eee;
		border-radius: 4px;
		font-size: 0.96rem;
	}
	.syntaxhighlighter
	{
		background-color: #fafafa;
		box-shadow: 0 0 0 2px #eee;
		border-radius: 4px;
		font-size: 0.96rem;
/* 		min-height: 2.2em; */
		padding-top: 1em;
		padding-bottom: 1em;
	}

	li>code,
	p>code
	{
		display: inline-block;
		margin: 0 0.2em;
		padding-right: 0.8em;
		padding-left: 0.8em;
		background-color: #fafafa;
		box-shadow: 0 0 0 2px #eee;
		border-radius: 4px;
	}
	
	code
	{
		color: #4b6fb2;
		font-size: 0.96rem;
	}
	
	.assistive-text
	{
		margin-bottom: 0;
	}
	
	figure.logo #logo
	{
		padding-top: 7px;
	}

	.noul
	{
		text-decoration: none;	
	}
	.tocmenu, 
	.tocmenu li {
		margin-left: 0px;
	}
	.tocmenu li a 
	{
		display: block;
		padding: 0.1em 0.5em;
		font-size: 0.9rem;
/* 		font-size: 0.9em; */
	}
	
	.tocmenu,
	.tocmenu .tocmenu
	{
		
	}
	
	.tocmenu .tocmenu li a 
	{
		padding-left: 1.5em;
	}
	
	.tocmenu .tocmenu .tocmenu li a 
	{
		padding-left: 2.5em;
	}
/*

	.tocmenu li a {
		display: block;
		padding: 0.2em 0;
	}
*/
	.tocmenu li a:hover
	{
		background-color: #fbfbfb;
	}
	.tocmenu li {
		list-style: none;
		margin-bottom: 0px;
/* 		font-size: 0.9em */
	}
	#markdowncontent
	{
		color: #4d4d4d;
/* 		font-size: 90%; */
	}
	#markdowncontent p,
	#markdowncontent li
	{
/* 		font-size: 0.9em !important; */
	}
	#markdowncontent pre
	{
/* 		font-size: 0.8em !important; */
	}
	code { display: inline-block !important; }
	.gutter {display: none}
</style>
</head>
<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="page-wrapper">
	<header id="amp_header" role="banner" class="row top-bottom">
		<div id="header" class="container">
			<div class="col six">
				<a href="https://www.perfect.org/" title="One language to rule them all, Server Side Swift by Perfect" style="display: block;">
					<h2 class="assistive-text">perfect.org</h2>
					<figure class="logo">
						<img id="logo" src="/images/perfect-logo-2-0.png" srcset="images/perfect-logo-2-0.png 1x, images/perfect-logo-2-0.svg 2x" align="" class="swg" width="176" height="58" alt="Perfect Logo">
					</figure>
				</a>
				
				<a id="menu-toggle" href="#main"><span class="icon-menu-list"></span></a>
			</div>
			<div class="col eighteen pt hmt">
				<div class="row">
					<span class="left">Documentation</span>
					<ul class="socialnav r mb">
						<li><a href="http://perfect.ly/" target="_blank" title="Join the Perfect community on Slack"><img src="images/slack-icon.png" alt="Slack icon" width="22" height="22" /></a></li>
						<li><a href="https://www.linkedin.com/company/10318313" target="_blank"><span class="icon-linkedin"></span></a></li>
						<li><a href="https://twitter.com/perfectlysoft" target="_blank"><span class="icon-twitter"></span></a></li>
						<li><a href="https://www.facebook.com/Perfectly-Soft-Inc-1050875001629981" target="_blank"><span class="icon-facebook"></span></a></li>
						<li><a href="https://www.youtube.com/channel/UCsw_djZbUnPtHu2XVNn7d3g/feed" target="_blank"><span class="icon-youtube"></span></a></li>
					</ul>
				</div>
				
			</div>
		</div>
	</header>

	<main id="amp_content" role="main">
		<section id="server-side-swift">

			<div class="row wht-bg pt pb">
			
				<div class="container">
					<div class="row">
						
						<div id="toccolumn" class="col six first">
						{{#key.projectMenu}}
							<div class="projectName"><a href="{{key.link}}" data-module="{{key.name}}">{{key.name}}</a></div>
						{{/key.projectMenu}}

						
						</div>
						
						<div class="col eighteen last">
							<section id="markdowncontent">
							{{#key.projects}}
							<div class="project allmodules module-{{key.name}}">
								<div class="expando projectName">Module: {{key.name}}</div>
								<div class="contents">
									{{#key.files}}{{>api_html_sub}}{{/key.files}}
								</div>
							</div>
							{{/key.projects}}

							</section>
						</div>
					</div>

				</div>
	
			</div>
			
		</section>

	</main>


	<footer id="amp_footer" class="row">
		<div class="container">

			<div id="utility_nav" class="row pt pb">
				<div class="col eight">
					<ul>
						<li><a href="https://www.perfect.org/about.html" title="Perfect is a framework for Server Side Swift">About</a>
							<ul>
								<li><a href="https://www.perfect.org/about.html" title="Perfect is a framework for Server Side Swift">What is Perfect?</a></li>
								<li><a href="https://www.perfect.org/our-team.html" title="Providing iOS and OS X developers with high-performance, secure tools and support">Our Team</a></li>
								<li><a href="https://www.perfect.org/project-partners.html" title="Supporting companies and strong relationships with the global Swift developer community">Project Partners</a></li>
								<li><a href="https://www.perfect.org/investor-relations.html" title="For investors or financial institutions interested in learning more about our company">Investor Relations</a></li>
								<li><a href="https://www.perfect.org/contact.html" title="Contact Us">Contact Us</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col eight">
					<ul>
						<li><a href="https://www.perfect.org/get-involved.html" title="Learn how you can get involved with perfect">Get Involved</a>
							<ul>
								<li><a href="https://github.com/PerfectlySoft/Perfect" onClick="ga('send', 'event', { eventCategory: 'Join', eventAction: 'Google Group'});" target="_blank">Github</a></li>
								<li><a href="https://stackoverflow.com/questions/tagged/perfect" onClick="ga('send', 'event', { eventCategory: 'Ask', eventAction: 'Stack Overflow'});" title="Ask on Stack" target="_blank">Stack Overflow</a></li>
								<li><a href="https://www.perfect.org/events.html" title="Attending, hosting, and sponsoring worldwide Swift developer conferences is what we do">Events</a></li>
								<li><a href="https://www.perfect.org/get-involved.html#be-an-evangelist" title="Be a Perfect Evangelist We'll sen you swag">Be an Evangelist</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="col eight">
					<ul>
						<li><a href="https://www.perfect.org/developer-resources.html" title="Take advantage of our developer resources, tools, documentation, and tutorials">Developer Resources</a>
							<ul>
								<li><a href="https://www.perfect.org/docs/gettingStarted.html" title="Get started using Perfect for your server-side Swift development projects quickly">Get Started</a></li>
								<li><a href="https://www.perfect.org/documentation.html" title="Perfect Reference Guide">Documentation</a></li>
								<li><a href="https://www.perfect.org/tutorials.html" title="Developer tutorials and training materials can help you get up-to-speed using Perfect quickly">Tutorials and Examples</a></li>
								<li><a href="https://www.perfect.org/deployments.html" title="Get the Perfect for Swift buildpacks you need to streamline your projects on different development platforms">Deployment Options</a></li>
								<li><a href="https://www.perfect.org/feature-requests.html" title="Help us continue to evolve Perfect and make it better for server-side Swift developers around the world">Feature Requests</a></li>
								<li><a href="https://www.perfect.org/support.html" title="Tap into Perfect’s support resources whenever you need them">Support</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>

			<div class="row pt ra">
				<div class="col nineteen">
					<div class="colophony">Copyright &copy; 2015-2016 PerfectlySoft Inc. All rights reserved. 
						<ul class="footernav inline">
							<li><a href="https://www.perfect.org/privacy-policy.html" title="Our commitment to your privacy">Privacy Policy</a></li>
							<li><a href="https://www.perfect.org/sitemap.html" title="Can't find what you are looking for try our site map">Site Map</a></li>
						</ul>
					</div>

				</div>
				<div class="col five ar">
			
					<ul class="socialnav r">
						<li><a href="http://perfect.ly/" target="_blank" title="Join the Perfect community on Slack"><img src="/images/slack-icon.png" alt="Slack icon" width="22" height="22" /></a></li>
						<li><a href="https://www.linkedin.com/company/10318313" target="_blank"><span class="icon-linkedin"></span></a></li>
						<li><a href="https://twitter.com/perfectlysoft" target="_blank"><span class="icon-twitter"></span></a></li>
						<li><a href="https://www.facebook.com/Perfectly-Soft-Inc-1050875001629981" target="_blank"><span class="icon-facebook"></span></a></li>
						<li><a href="https://www.youtube.com/channel/UCsw_djZbUnPtHu2XVNn7d3g/feed" target="_blank"><span class="icon-youtube"></span></a></li>
					</ul>

				</div>
				
			</div>
			<div class="row pb">
				<ol class="micro_copy small dmt">
					<li>Swift, and the Swift logo are trademarks of Apple Inc. All Rights Reserved.</li>
				</ol>
			</div>
		</div>
	</footer>

	<a href="https://github.com/PerfectlySoft/Perfect" onClick="ga('send', 'event', { eventCategory: 'Join', eventAction: 'Google Group'});" target="_blank" class="github-corner" title="Visit the Perfect project repository on Github">
		<img src="https://perfect.org/images/multi-octocat.png" width="65" height="63" alt="Github Octocat" />
	</a>
		
	<nav id="menu">
		<ul id="mobilenav">
		</ul>
	</nav>
	
</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
	<script src="https://cdn.rawgit.com/showdownjs/showdown/1.4.2/dist/showdown.min.js"></script>

	<script>window.jQuery || document.write('<script src="js/js/jquery-1.11.1.min.js"><\/script>')</script>
	<script src="js/perfect.js"></script>
	
	<noscript>
		<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=ntwej&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
		<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=ntwej&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
	</noscript>
	


	</body>
</html>
