{{#substructure}}
								<div class="substructure {{kind}}">
									<div class="expando"><b>{{kind}}</b> {{name}}</div>
									<div class="comment expando">{{doc.comment}}</div>
									<div class="contents">{{>api_html_sub}}</div>
								</div>
{{/substructure}}